# coding: utf-8

"""
    Apache Fineract REST API

    Apache Fineract is a secure, multi-tenanted microfinance platform. The goal of the Apache Fineract API is to empower developers to build apps on top of the Apache Fineract Platform. The https://cui.fineract.dev[reference app] (username: mifos, password: password) works on the same demo tenant as the interactive links in this documentation. Until we complete the new REST API documentation you still have the legacy documentation available https://fineract.apache.org/legacy-docs/apiLive.htm[here]. Please check https://fineract.apache.org/docs/current[the Fineract documentation] for more information.  # noqa: E501

    OpenAPI spec version: 1.11.0-SNAPSHOT
    Contact: dev@fineract.apache.org
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from fineract_client.api_client import ApiClient


class ClientsAddressApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_client_address(self, body, clientid, **kwargs):  # noqa: E501
        """Create an address for a Client  # noqa: E501

        Mandatory Fields :  type and clientId  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_client_address(body, clientid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PostClientClientIdAddressesRequest body: (required)
        :param int clientid: clientId (required)
        :param int type: type
        :return: PostClientClientIdAddressesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_client_address_with_http_info(body, clientid, **kwargs)  # noqa: E501
        else:
            (data) = self.add_client_address_with_http_info(body, clientid, **kwargs)  # noqa: E501
            return data

    def add_client_address_with_http_info(self, body, clientid, **kwargs):  # noqa: E501
        """Create an address for a Client  # noqa: E501

        Mandatory Fields :  type and clientId  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_client_address_with_http_info(body, clientid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PostClientClientIdAddressesRequest body: (required)
        :param int clientid: clientId (required)
        :param int type: type
        :return: PostClientClientIdAddressesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'clientid', 'type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_client_address" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_client_address`")  # noqa: E501
        # verify the required parameter 'clientid' is set
        if ('clientid' not in params or
                params['clientid'] is None):
            raise ValueError("Missing the required parameter `clientid` when calling `add_client_address`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'clientid' in params:
            path_params['clientid'] = params['clientid']  # noqa: E501

        query_params = []
        if 'type' in params:
            query_params.append(('type', params['type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/client/{clientid}/addresses', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PostClientClientIdAddressesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_addresses1(self, clientid, **kwargs):  # noqa: E501
        """List all addresses for a Client  # noqa: E501

        Example Requests:  client/1/addresses   clients/1/addresses?status=false,true&&type=1,2,3  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_addresses1(clientid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int clientid: clientId (required)
        :param str status: status
        :param int type: type
        :return: list[GetClientClientIdAddressesResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_addresses1_with_http_info(clientid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_addresses1_with_http_info(clientid, **kwargs)  # noqa: E501
            return data

    def get_addresses1_with_http_info(self, clientid, **kwargs):  # noqa: E501
        """List all addresses for a Client  # noqa: E501

        Example Requests:  client/1/addresses   clients/1/addresses?status=false,true&&type=1,2,3  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_addresses1_with_http_info(clientid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int clientid: clientId (required)
        :param str status: status
        :param int type: type
        :return: list[GetClientClientIdAddressesResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['clientid', 'status', 'type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_addresses1" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'clientid' is set
        if ('clientid' not in params or
                params['clientid'] is None):
            raise ValueError("Missing the required parameter `clientid` when calling `get_addresses1`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'clientid' in params:
            path_params['clientid'] = params['clientid']  # noqa: E501

        query_params = []
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501
        if 'type' in params:
            query_params.append(('type', params['type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/client/{clientid}/addresses', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[GetClientClientIdAddressesResponse]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_addresses_template(self, **kwargs):  # noqa: E501
        """get_addresses_template  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_addresses_template(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_addresses_template_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_addresses_template_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_addresses_template_with_http_info(self, **kwargs):  # noqa: E501
        """get_addresses_template  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_addresses_template_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_addresses_template" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/client/addresses/template', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_client_address(self, body, clientid, **kwargs):  # noqa: E501
        """Update an address for a Client  # noqa: E501

        All the address fields can be updated by using update client address API  Mandatory Fields type and addressId  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_client_address(body, clientid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PutClientClientIdAddressesRequest body: (required)
        :param int clientid: clientId (required)
        :return: PutClientClientIdAddressesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_client_address_with_http_info(body, clientid, **kwargs)  # noqa: E501
        else:
            (data) = self.update_client_address_with_http_info(body, clientid, **kwargs)  # noqa: E501
            return data

    def update_client_address_with_http_info(self, body, clientid, **kwargs):  # noqa: E501
        """Update an address for a Client  # noqa: E501

        All the address fields can be updated by using update client address API  Mandatory Fields type and addressId  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_client_address_with_http_info(body, clientid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PutClientClientIdAddressesRequest body: (required)
        :param int clientid: clientId (required)
        :return: PutClientClientIdAddressesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'clientid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_client_address" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_client_address`")  # noqa: E501
        # verify the required parameter 'clientid' is set
        if ('clientid' not in params or
                params['clientid'] is None):
            raise ValueError("Missing the required parameter `clientid` when calling `update_client_address`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'clientid' in params:
            path_params['clientid'] = params['clientid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/client/{clientid}/addresses', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PutClientClientIdAddressesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
