# coding: utf-8

"""
    Apache Fineract REST API

    Apache Fineract is a secure, multi-tenanted microfinance platform. The goal of the Apache Fineract API is to empower developers to build apps on top of the Apache Fineract Platform. The https://cui.fineract.dev[reference app] (username: mifos, password: password) works on the same demo tenant as the interactive links in this documentation. Until we complete the new REST API documentation you still have the legacy documentation available https://fineract.apache.org/legacy-docs/apiLive.htm[here]. Please check https://fineract.apache.org/docs/current[the Fineract documentation] for more information.  # noqa: E501

    OpenAPI spec version: 1.11.0-SNAPSHOT
    Contact: dev@fineract.apache.org
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from fineract_client.api_client import ApiClient


class FloatingRatesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_floating_rate(self, body, **kwargs):  # noqa: E501
        """Create a new Floating Rate  # noqa: E501

        Creates a new Floating Rate Mandatory Fields: name Optional Fields: isBaseLendingRate, isActive, ratePeriods  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_floating_rate(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PostFloatingRatesRequest body: (required)
        :return: PostFloatingRatesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_floating_rate_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_floating_rate_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_floating_rate_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create a new Floating Rate  # noqa: E501

        Creates a new Floating Rate Mandatory Fields: name Optional Fields: isBaseLendingRate, isActive, ratePeriods  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_floating_rate_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PostFloatingRatesRequest body: (required)
        :return: PostFloatingRatesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_floating_rate" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_floating_rate`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/floatingrates', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PostFloatingRatesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def retrieve_all22(self, **kwargs):  # noqa: E501
        """List Floating Rates  # noqa: E501

        Lists Floating Rates  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_all22(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[GetFloatingRatesResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_all22_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_all22_with_http_info(**kwargs)  # noqa: E501
            return data

    def retrieve_all22_with_http_info(self, **kwargs):  # noqa: E501
        """List Floating Rates  # noqa: E501

        Lists Floating Rates  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_all22_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[GetFloatingRatesResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_all22" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/floatingrates', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[GetFloatingRatesResponse]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def retrieve_one13(self, floating_rate_id, **kwargs):  # noqa: E501
        """Retrieve Floating Rate  # noqa: E501

        Retrieves Floating Rate  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_one13(floating_rate_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int floating_rate_id: floatingRateId (required)
        :return: GetFloatingRatesFloatingRateIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_one13_with_http_info(floating_rate_id, **kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_one13_with_http_info(floating_rate_id, **kwargs)  # noqa: E501
            return data

    def retrieve_one13_with_http_info(self, floating_rate_id, **kwargs):  # noqa: E501
        """Retrieve Floating Rate  # noqa: E501

        Retrieves Floating Rate  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_one13_with_http_info(floating_rate_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int floating_rate_id: floatingRateId (required)
        :return: GetFloatingRatesFloatingRateIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['floating_rate_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_one13" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'floating_rate_id' is set
        if ('floating_rate_id' not in params or
                params['floating_rate_id'] is None):
            raise ValueError("Missing the required parameter `floating_rate_id` when calling `retrieve_one13`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'floating_rate_id' in params:
            path_params['floatingRateId'] = params['floating_rate_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/floatingrates/{floatingRateId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetFloatingRatesFloatingRateIdResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_floating_rate(self, body, floating_rate_id, **kwargs):  # noqa: E501
        """Update Floating Rate  # noqa: E501

        Updates new Floating Rate. Rate Periods in the past cannot be modified. All the future rateperiods would be replaced with the new ratePeriods data sent.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_floating_rate(body, floating_rate_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PutFloatingRatesFloatingRateIdRequest body: (required)
        :param int floating_rate_id: floatingRateId (required)
        :return: PutFloatingRatesFloatingRateIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_floating_rate_with_http_info(body, floating_rate_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_floating_rate_with_http_info(body, floating_rate_id, **kwargs)  # noqa: E501
            return data

    def update_floating_rate_with_http_info(self, body, floating_rate_id, **kwargs):  # noqa: E501
        """Update Floating Rate  # noqa: E501

        Updates new Floating Rate. Rate Periods in the past cannot be modified. All the future rateperiods would be replaced with the new ratePeriods data sent.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_floating_rate_with_http_info(body, floating_rate_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PutFloatingRatesFloatingRateIdRequest body: (required)
        :param int floating_rate_id: floatingRateId (required)
        :return: PutFloatingRatesFloatingRateIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'floating_rate_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_floating_rate" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_floating_rate`")  # noqa: E501
        # verify the required parameter 'floating_rate_id' is set
        if ('floating_rate_id' not in params or
                params['floating_rate_id'] is None):
            raise ValueError("Missing the required parameter `floating_rate_id` when calling `update_floating_rate`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'floating_rate_id' in params:
            path_params['floatingRateId'] = params['floating_rate_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/floatingrates/{floatingRateId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PutFloatingRatesFloatingRateIdResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
