# coding: utf-8

"""
    Apache Fineract REST API

    Apache Fineract is a secure, multi-tenanted microfinance platform. The goal of the Apache Fineract API is to empower developers to build apps on top of the Apache Fineract Platform. The https://cui.fineract.dev[reference app] (username: mifos, password: password) works on the same demo tenant as the interactive links in this documentation. Until we complete the new REST API documentation you still have the legacy documentation available https://fineract.apache.org/legacy-docs/apiLive.htm[here]. Please check https://fineract.apache.org/docs/current[the Fineract documentation] for more information.  # noqa: E501

    OpenAPI spec version: 1.11.0-SNAPSHOT
    Contact: dev@fineract.apache.org
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from fineract_client.api_client import ApiClient


class FundsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_fund(self, body, **kwargs):  # noqa: E501
        """Create a Fund  # noqa: E501

        Creates a Fund  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_fund(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PostFundsRequest body: (required)
        :return: PostFundsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_fund_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_fund_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_fund_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create a Fund  # noqa: E501

        Creates a Fund  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_fund_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PostFundsRequest body: (required)
        :return: PostFundsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_fund" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_fund`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/funds', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PostFundsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def retrieve_fund(self, fund_id, **kwargs):  # noqa: E501
        """Retrieve a Fund  # noqa: E501

        Returns the details of a Fund.  Example Requests:  funds/1  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_fund(fund_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int fund_id: fundId (required)
        :return: GetFundsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_fund_with_http_info(fund_id, **kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_fund_with_http_info(fund_id, **kwargs)  # noqa: E501
            return data

    def retrieve_fund_with_http_info(self, fund_id, **kwargs):  # noqa: E501
        """Retrieve a Fund  # noqa: E501

        Returns the details of a Fund.  Example Requests:  funds/1  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_fund_with_http_info(fund_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int fund_id: fundId (required)
        :return: GetFundsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['fund_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_fund" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'fund_id' is set
        if ('fund_id' not in params or
                params['fund_id'] is None):
            raise ValueError("Missing the required parameter `fund_id` when calling `retrieve_fund`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'fund_id' in params:
            path_params['fundId'] = params['fund_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/funds/{fundId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetFundsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def retrieve_funds(self, **kwargs):  # noqa: E501
        """Retrieve Funds  # noqa: E501

        Returns the list of funds.  Example Requests:  funds  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_funds(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[GetFundsResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_funds_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_funds_with_http_info(**kwargs)  # noqa: E501
            return data

    def retrieve_funds_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve Funds  # noqa: E501

        Returns the list of funds.  Example Requests:  funds  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_funds_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[GetFundsResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_funds" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/funds', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[GetFundsResponse]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_fund(self, body, fund_id, **kwargs):  # noqa: E501
        """Update a Fund  # noqa: E501

        Updates the details of a fund.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_fund(body, fund_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PutFundsFundIdRequest body: (required)
        :param int fund_id: fundId (required)
        :return: PutFundsFundIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_fund_with_http_info(body, fund_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_fund_with_http_info(body, fund_id, **kwargs)  # noqa: E501
            return data

    def update_fund_with_http_info(self, body, fund_id, **kwargs):  # noqa: E501
        """Update a Fund  # noqa: E501

        Updates the details of a fund.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_fund_with_http_info(body, fund_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PutFundsFundIdRequest body: (required)
        :param int fund_id: fundId (required)
        :return: PutFundsFundIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'fund_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_fund" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_fund`")  # noqa: E501
        # verify the required parameter 'fund_id' is set
        if ('fund_id' not in params or
                params['fund_id'] is None):
            raise ValueError("Missing the required parameter `fund_id` when calling `update_fund`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'fund_id' in params:
            path_params['fundId'] = params['fund_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/funds/{fundId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PutFundsFundIdResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
