# coding: utf-8

"""
    Apache Fineract REST API

    Apache Fineract is a secure, multi-tenanted microfinance platform. The goal of the Apache Fineract API is to empower developers to build apps on top of the Apache Fineract Platform. The https://cui.fineract.dev[reference app] (username: mifos, password: password) works on the same demo tenant as the interactive links in this documentation. Until we complete the new REST API documentation you still have the legacy documentation available https://fineract.apache.org/legacy-docs/apiLive.htm[here]. Please check https://fineract.apache.org/docs/current[the Fineract documentation] for more information.  # noqa: E501

    OpenAPI spec version: 1.11.0-SNAPSHOT
    Contact: dev@fineract.apache.org
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from fineract_client.api_client import ApiClient


class InterestRateChartApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create10(self, body, **kwargs):  # noqa: E501
        """Create a Chart  # noqa: E501

        Creates a new chart which can be attached to a term deposit products (FD or RD).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create10(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PostInterestRateChartsRequest body: (required)
        :return: PostInterestRateChartsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create10_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create10_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create10_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create a Chart  # noqa: E501

        Creates a new chart which can be attached to a term deposit products (FD or RD).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create10_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PostInterestRateChartsRequest body: (required)
        :return: PostInterestRateChartsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create10" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create10`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/interestratecharts', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PostInterestRateChartsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete14(self, chart_id, **kwargs):  # noqa: E501
        """Delete a Chart  # noqa: E501

        It deletes the chart  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete14(chart_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int chart_id: chartId (required)
        :return: DeleteInterestRateChartsChartIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete14_with_http_info(chart_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete14_with_http_info(chart_id, **kwargs)  # noqa: E501
            return data

    def delete14_with_http_info(self, chart_id, **kwargs):  # noqa: E501
        """Delete a Chart  # noqa: E501

        It deletes the chart  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete14_with_http_info(chart_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int chart_id: chartId (required)
        :return: DeleteInterestRateChartsChartIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['chart_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete14" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'chart_id' is set
        if ('chart_id' not in params or
                params['chart_id'] is None):
            raise ValueError("Missing the required parameter `chart_id` when calling `delete14`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'chart_id' in params:
            path_params['chartId'] = params['chart_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/interestratecharts/{chartId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeleteInterestRateChartsChartIdResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def retrieve_all26(self, **kwargs):  # noqa: E501
        """Retrieve all Charts  # noqa: E501

        Retrieve list of charts associated with a term deposit product(FD or RD). Example Requests:  interestratecharts?productId=1  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_all26(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int product_id: productId
        :return: list[GetInterestRateChartsResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_all26_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_all26_with_http_info(**kwargs)  # noqa: E501
            return data

    def retrieve_all26_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve all Charts  # noqa: E501

        Retrieve list of charts associated with a term deposit product(FD or RD). Example Requests:  interestratecharts?productId=1  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_all26_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int product_id: productId
        :return: list[GetInterestRateChartsResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['product_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_all26" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'product_id' in params:
            query_params.append(('productId', params['product_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/interestratecharts', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[GetInterestRateChartsResponse]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def retrieve_one17(self, chart_id, **kwargs):  # noqa: E501
        """Retrieve a Chart  # noqa: E501

        It retrieves the Interest Rate Chart Example Requests:  interestratecharts/1  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_one17(chart_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int chart_id: chartId (required)
        :return: GetInterestRateChartsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_one17_with_http_info(chart_id, **kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_one17_with_http_info(chart_id, **kwargs)  # noqa: E501
            return data

    def retrieve_one17_with_http_info(self, chart_id, **kwargs):  # noqa: E501
        """Retrieve a Chart  # noqa: E501

        It retrieves the Interest Rate Chart Example Requests:  interestratecharts/1  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_one17_with_http_info(chart_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int chart_id: chartId (required)
        :return: GetInterestRateChartsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['chart_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_one17" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'chart_id' is set
        if ('chart_id' not in params or
                params['chart_id'] is None):
            raise ValueError("Missing the required parameter `chart_id` when calling `retrieve_one17`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'chart_id' in params:
            path_params['chartId'] = params['chart_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/interestratecharts/{chartId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetInterestRateChartsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def template9(self, **kwargs):  # noqa: E501
        """Retrieve Chart Details Template  # noqa: E501

        This is a convenience resource. It can be useful when building maintenance user interface screens for creating a chart. The template data returned consists of any or all of:  Field Defaults Allowed Value Lists Example Request:  interestratecharts/template  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.template9(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetInterestRateChartsTemplateResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.template9_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.template9_with_http_info(**kwargs)  # noqa: E501
            return data

    def template9_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve Chart Details Template  # noqa: E501

        This is a convenience resource. It can be useful when building maintenance user interface screens for creating a chart. The template data returned consists of any or all of:  Field Defaults Allowed Value Lists Example Request:  interestratecharts/template  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.template9_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetInterestRateChartsTemplateResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method template9" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/interestratecharts/template', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetInterestRateChartsTemplateResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update15(self, body, chart_id, **kwargs):  # noqa: E501
        """Update a Chart  # noqa: E501

        It updates the chart  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update15(body, chart_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PutInterestRateChartsChartIdRequest body: (required)
        :param int chart_id: chartId (required)
        :return: PutInterestRateChartsChartIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update15_with_http_info(body, chart_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update15_with_http_info(body, chart_id, **kwargs)  # noqa: E501
            return data

    def update15_with_http_info(self, body, chart_id, **kwargs):  # noqa: E501
        """Update a Chart  # noqa: E501

        It updates the chart  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update15_with_http_info(body, chart_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PutInterestRateChartsChartIdRequest body: (required)
        :param int chart_id: chartId (required)
        :return: PutInterestRateChartsChartIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'chart_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update15" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update15`")  # noqa: E501
        # verify the required parameter 'chart_id' is set
        if ('chart_id' not in params or
                params['chart_id'] is None):
            raise ValueError("Missing the required parameter `chart_id` when calling `update15`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'chart_id' in params:
            path_params['chartId'] = params['chart_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/interestratecharts/{chartId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PutInterestRateChartsChartIdResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
