# coding: utf-8

"""
    Apache Fineract REST API

    Apache Fineract is a secure, multi-tenanted microfinance platform. The goal of the Apache Fineract API is to empower developers to build apps on top of the Apache Fineract Platform. The https://cui.fineract.dev[reference app] (username: mifos, password: password) works on the same demo tenant as the interactive links in this documentation. Until we complete the new REST API documentation you still have the legacy documentation available https://fineract.apache.org/legacy-docs/apiLive.htm[here]. Please check https://fineract.apache.org/docs/current[the Fineract documentation] for more information.  # noqa: E501

    OpenAPI spec version: 1.11.0-SNAPSHOT
    Contact: dev@fineract.apache.org
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from fineract_client.api_client import ApiClient


class ProvisioningCriteriaApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_provisioning_criteria(self, body, **kwargs):  # noqa: E501
        """Create a new Provisioning Criteria  # noqa: E501

        Creates a new Provisioning Criteria  Mandatory Fields:  criteriaName provisioningcriteria  Optional Fields:  loanProducts  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_provisioning_criteria(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PostProvisioningCriteriaRequest body: (required)
        :return: PostProvisioningCriteriaResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_provisioning_criteria_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_provisioning_criteria_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_provisioning_criteria_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create a new Provisioning Criteria  # noqa: E501

        Creates a new Provisioning Criteria  Mandatory Fields:  criteriaName provisioningcriteria  Optional Fields:  loanProducts  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_provisioning_criteria_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PostProvisioningCriteriaRequest body: (required)
        :return: PostProvisioningCriteriaResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_provisioning_criteria" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_provisioning_criteria`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/provisioningcriteria', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PostProvisioningCriteriaResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_provisioning_criteria(self, criteria_id, **kwargs):  # noqa: E501
        """Deletes Provisioning Criteria  # noqa: E501

        Deletes Provisioning Criteria  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_provisioning_criteria(criteria_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int criteria_id: criteriaId (required)
        :return: DeleteProvisioningCriteriaResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_provisioning_criteria_with_http_info(criteria_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_provisioning_criteria_with_http_info(criteria_id, **kwargs)  # noqa: E501
            return data

    def delete_provisioning_criteria_with_http_info(self, criteria_id, **kwargs):  # noqa: E501
        """Deletes Provisioning Criteria  # noqa: E501

        Deletes Provisioning Criteria  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_provisioning_criteria_with_http_info(criteria_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int criteria_id: criteriaId (required)
        :return: DeleteProvisioningCriteriaResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['criteria_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_provisioning_criteria" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'criteria_id' is set
        if ('criteria_id' not in params or
                params['criteria_id'] is None):
            raise ValueError("Missing the required parameter `criteria_id` when calling `delete_provisioning_criteria`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'criteria_id' in params:
            path_params['criteriaId'] = params['criteria_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/provisioningcriteria/{criteriaId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeleteProvisioningCriteriaResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def retrieve_all_provisioning_criterias(self, **kwargs):  # noqa: E501
        """Retrieves all created Provisioning Criterias  # noqa: E501

        Retrieves all created Provisioning Criterias  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_all_provisioning_criterias(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[GetProvisioningCriteriaResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_all_provisioning_criterias_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_all_provisioning_criterias_with_http_info(**kwargs)  # noqa: E501
            return data

    def retrieve_all_provisioning_criterias_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves all created Provisioning Criterias  # noqa: E501

        Retrieves all created Provisioning Criterias  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_all_provisioning_criterias_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[GetProvisioningCriteriaResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_all_provisioning_criterias" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/provisioningcriteria', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[GetProvisioningCriteriaResponse]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def retrieve_provisioning_criteria(self, criteria_id, **kwargs):  # noqa: E501
        """Retrieves a Provisioning Criteria  # noqa: E501

        Retrieves a Provisioning Criteria  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_provisioning_criteria(criteria_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int criteria_id: criteriaId (required)
        :return: GetProvisioningCriteriaCriteriaIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_provisioning_criteria_with_http_info(criteria_id, **kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_provisioning_criteria_with_http_info(criteria_id, **kwargs)  # noqa: E501
            return data

    def retrieve_provisioning_criteria_with_http_info(self, criteria_id, **kwargs):  # noqa: E501
        """Retrieves a Provisioning Criteria  # noqa: E501

        Retrieves a Provisioning Criteria  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_provisioning_criteria_with_http_info(criteria_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int criteria_id: criteriaId (required)
        :return: GetProvisioningCriteriaCriteriaIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['criteria_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_provisioning_criteria" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'criteria_id' is set
        if ('criteria_id' not in params or
                params['criteria_id'] is None):
            raise ValueError("Missing the required parameter `criteria_id` when calling `retrieve_provisioning_criteria`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'criteria_id' in params:
            path_params['criteriaId'] = params['criteria_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/provisioningcriteria/{criteriaId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetProvisioningCriteriaCriteriaIdResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def retrieve_template3(self, **kwargs):  # noqa: E501
        """retrieve_template3  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_template3(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_template3_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_template3_with_http_info(**kwargs)  # noqa: E501
            return data

    def retrieve_template3_with_http_info(self, **kwargs):  # noqa: E501
        """retrieve_template3  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_template3_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_template3" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/provisioningcriteria/template', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_provisioning_criteria(self, body, criteria_id, **kwargs):  # noqa: E501
        """Updates a new Provisioning Criteria  # noqa: E501

        Updates a new Provisioning Criteria  Optional Fields criteriaName, loanProducts, provisioningcriteria  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_provisioning_criteria(body, criteria_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PutProvisioningCriteriaRequest body: (required)
        :param int criteria_id: criteriaId (required)
        :return: PutProvisioningCriteriaResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_provisioning_criteria_with_http_info(body, criteria_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_provisioning_criteria_with_http_info(body, criteria_id, **kwargs)  # noqa: E501
            return data

    def update_provisioning_criteria_with_http_info(self, body, criteria_id, **kwargs):  # noqa: E501
        """Updates a new Provisioning Criteria  # noqa: E501

        Updates a new Provisioning Criteria  Optional Fields criteriaName, loanProducts, provisioningcriteria  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_provisioning_criteria_with_http_info(body, criteria_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PutProvisioningCriteriaRequest body: (required)
        :param int criteria_id: criteriaId (required)
        :return: PutProvisioningCriteriaResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'criteria_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_provisioning_criteria" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_provisioning_criteria`")  # noqa: E501
        # verify the required parameter 'criteria_id' is set
        if ('criteria_id' not in params or
                params['criteria_id'] is None):
            raise ValueError("Missing the required parameter `criteria_id` when calling `update_provisioning_criteria`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'criteria_id' in params:
            path_params['criteriaId'] = params['criteria_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/provisioningcriteria/{criteriaId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PutProvisioningCriteriaResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
