# coding: utf-8

"""
    Apache Fineract REST API

    Apache Fineract is a secure, multi-tenanted microfinance platform. The goal of the Apache Fineract API is to empower developers to build apps on top of the Apache Fineract Platform. The https://cui.fineract.dev[reference app] (username: mifos, password: password) works on the same demo tenant as the interactive links in this documentation. Until we complete the new REST API documentation you still have the legacy documentation available https://fineract.apache.org/legacy-docs/apiLive.htm[here]. Please check https://fineract.apache.org/docs/current[the Fineract documentation] for more information.  # noqa: E501

    OpenAPI spec version: 1.11.0-SNAPSHOT
    Contact: dev@fineract.apache.org
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from fineract_client.api_client import ApiClient


class RecurringDepositAccountTransactionsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def handle_transaction_commands(self, body, recurring_deposit_account_id, transaction_id, **kwargs):  # noqa: E501
        """Adjust Transaction | Undo transaction  # noqa: E501

        Adjust Transaction:  This command modifies the given transaction.  Undo transaction:  This command reverses the given transaction.  Showing request/response for 'Adjust Transaction'  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.handle_transaction_commands(body, recurring_deposit_account_id, transaction_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PostRecurringDepositAccountsRecurringDepositAccountIdTransactionsRequest body: (required)
        :param int recurring_deposit_account_id: recurringDepositAccountId (required)
        :param int transaction_id: transactionId (required)
        :param str command: command
        :return: PostRecurringDepositAccountsRecurringDepositAccountIdTransactionsTransactionIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.handle_transaction_commands_with_http_info(body, recurring_deposit_account_id, transaction_id, **kwargs)  # noqa: E501
        else:
            (data) = self.handle_transaction_commands_with_http_info(body, recurring_deposit_account_id, transaction_id, **kwargs)  # noqa: E501
            return data

    def handle_transaction_commands_with_http_info(self, body, recurring_deposit_account_id, transaction_id, **kwargs):  # noqa: E501
        """Adjust Transaction | Undo transaction  # noqa: E501

        Adjust Transaction:  This command modifies the given transaction.  Undo transaction:  This command reverses the given transaction.  Showing request/response for 'Adjust Transaction'  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.handle_transaction_commands_with_http_info(body, recurring_deposit_account_id, transaction_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PostRecurringDepositAccountsRecurringDepositAccountIdTransactionsRequest body: (required)
        :param int recurring_deposit_account_id: recurringDepositAccountId (required)
        :param int transaction_id: transactionId (required)
        :param str command: command
        :return: PostRecurringDepositAccountsRecurringDepositAccountIdTransactionsTransactionIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'recurring_deposit_account_id', 'transaction_id', 'command']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method handle_transaction_commands" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `handle_transaction_commands`")  # noqa: E501
        # verify the required parameter 'recurring_deposit_account_id' is set
        if ('recurring_deposit_account_id' not in params or
                params['recurring_deposit_account_id'] is None):
            raise ValueError("Missing the required parameter `recurring_deposit_account_id` when calling `handle_transaction_commands`")  # noqa: E501
        # verify the required parameter 'transaction_id' is set
        if ('transaction_id' not in params or
                params['transaction_id'] is None):
            raise ValueError("Missing the required parameter `transaction_id` when calling `handle_transaction_commands`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'recurring_deposit_account_id' in params:
            path_params['recurringDepositAccountId'] = params['recurring_deposit_account_id']  # noqa: E501
        if 'transaction_id' in params:
            path_params['transactionId'] = params['transaction_id']  # noqa: E501

        query_params = []
        if 'command' in params:
            query_params.append(('command', params['command']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/recurringdepositaccounts/{recurringDepositAccountId}/transactions/{transactionId}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PostRecurringDepositAccountsRecurringDepositAccountIdTransactionsTransactionIdResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def retrieve_one21(self, recurring_deposit_account_id, transaction_id, **kwargs):  # noqa: E501
        """Retrieve Recurring Deposit Account Transaction  # noqa: E501

        Retrieves Recurring Deposit Account Transaction  Example Requests:  recurringdepositaccounts/1/transactions/1  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_one21(recurring_deposit_account_id, transaction_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int recurring_deposit_account_id: recurringDepositAccountId (required)
        :param int transaction_id: transactionId (required)
        :return: GetRecurringDepositAccountsRecurringDepositAccountIdTransactionsTransactionIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_one21_with_http_info(recurring_deposit_account_id, transaction_id, **kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_one21_with_http_info(recurring_deposit_account_id, transaction_id, **kwargs)  # noqa: E501
            return data

    def retrieve_one21_with_http_info(self, recurring_deposit_account_id, transaction_id, **kwargs):  # noqa: E501
        """Retrieve Recurring Deposit Account Transaction  # noqa: E501

        Retrieves Recurring Deposit Account Transaction  Example Requests:  recurringdepositaccounts/1/transactions/1  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_one21_with_http_info(recurring_deposit_account_id, transaction_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int recurring_deposit_account_id: recurringDepositAccountId (required)
        :param int transaction_id: transactionId (required)
        :return: GetRecurringDepositAccountsRecurringDepositAccountIdTransactionsTransactionIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['recurring_deposit_account_id', 'transaction_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_one21" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'recurring_deposit_account_id' is set
        if ('recurring_deposit_account_id' not in params or
                params['recurring_deposit_account_id'] is None):
            raise ValueError("Missing the required parameter `recurring_deposit_account_id` when calling `retrieve_one21`")  # noqa: E501
        # verify the required parameter 'transaction_id' is set
        if ('transaction_id' not in params or
                params['transaction_id'] is None):
            raise ValueError("Missing the required parameter `transaction_id` when calling `retrieve_one21`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'recurring_deposit_account_id' in params:
            path_params['recurringDepositAccountId'] = params['recurring_deposit_account_id']  # noqa: E501
        if 'transaction_id' in params:
            path_params['transactionId'] = params['transaction_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/recurringdepositaccounts/{recurringDepositAccountId}/transactions/{transactionId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetRecurringDepositAccountsRecurringDepositAccountIdTransactionsTransactionIdResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def retrieve_template16(self, recurring_deposit_account_id, **kwargs):  # noqa: E501
        """Retrieve Recurring Deposit Account Transaction Template  # noqa: E501

        This is a convenience resource. It can be useful when building maintenance user interface screens for client applications. The template data returned consists of any or all of:  Field Defaults Allowed Value Lists Example Requests:  recurringdepositaccounts/1/transactions/template?command=deposit  recurringdepositaccounts/1/transactions/template?command=withdrawal  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_template16(recurring_deposit_account_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int recurring_deposit_account_id: recurringDepositAccountId (required)
        :param str command: command
        :return: GetRecurringDepositAccountsRecurringDepositAccountIdTransactionsTemplateResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_template16_with_http_info(recurring_deposit_account_id, **kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_template16_with_http_info(recurring_deposit_account_id, **kwargs)  # noqa: E501
            return data

    def retrieve_template16_with_http_info(self, recurring_deposit_account_id, **kwargs):  # noqa: E501
        """Retrieve Recurring Deposit Account Transaction Template  # noqa: E501

        This is a convenience resource. It can be useful when building maintenance user interface screens for client applications. The template data returned consists of any or all of:  Field Defaults Allowed Value Lists Example Requests:  recurringdepositaccounts/1/transactions/template?command=deposit  recurringdepositaccounts/1/transactions/template?command=withdrawal  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_template16_with_http_info(recurring_deposit_account_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int recurring_deposit_account_id: recurringDepositAccountId (required)
        :param str command: command
        :return: GetRecurringDepositAccountsRecurringDepositAccountIdTransactionsTemplateResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['recurring_deposit_account_id', 'command']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_template16" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'recurring_deposit_account_id' is set
        if ('recurring_deposit_account_id' not in params or
                params['recurring_deposit_account_id'] is None):
            raise ValueError("Missing the required parameter `recurring_deposit_account_id` when calling `retrieve_template16`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'recurring_deposit_account_id' in params:
            path_params['recurringDepositAccountId'] = params['recurring_deposit_account_id']  # noqa: E501

        query_params = []
        if 'command' in params:
            query_params.append(('command', params['command']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/recurringdepositaccounts/{recurringDepositAccountId}/transactions/template', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetRecurringDepositAccountsRecurringDepositAccountIdTransactionsTemplateResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def transaction1(self, body, recurring_deposit_account_id, **kwargs):  # noqa: E501
        """Deposit Transaction | Withdrawal Transaction  # noqa: E501

        Deposit Transaction:  Used for a deposit transaction  Withdrawal Transaction:  Used for a Withdrawal Transaction  Showing request/response for Deposit Transaction  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.transaction1(body, recurring_deposit_account_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PostRecurringDepositAccountsRecurringDepositAccountIdTransactionsRequest body: (required)
        :param int recurring_deposit_account_id: recurringDepositAccountId (required)
        :param str command: command
        :return: PostRecurringDepositAccountsRecurringDepositAccountIdTransactionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.transaction1_with_http_info(body, recurring_deposit_account_id, **kwargs)  # noqa: E501
        else:
            (data) = self.transaction1_with_http_info(body, recurring_deposit_account_id, **kwargs)  # noqa: E501
            return data

    def transaction1_with_http_info(self, body, recurring_deposit_account_id, **kwargs):  # noqa: E501
        """Deposit Transaction | Withdrawal Transaction  # noqa: E501

        Deposit Transaction:  Used for a deposit transaction  Withdrawal Transaction:  Used for a Withdrawal Transaction  Showing request/response for Deposit Transaction  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.transaction1_with_http_info(body, recurring_deposit_account_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PostRecurringDepositAccountsRecurringDepositAccountIdTransactionsRequest body: (required)
        :param int recurring_deposit_account_id: recurringDepositAccountId (required)
        :param str command: command
        :return: PostRecurringDepositAccountsRecurringDepositAccountIdTransactionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'recurring_deposit_account_id', 'command']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method transaction1" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `transaction1`")  # noqa: E501
        # verify the required parameter 'recurring_deposit_account_id' is set
        if ('recurring_deposit_account_id' not in params or
                params['recurring_deposit_account_id'] is None):
            raise ValueError("Missing the required parameter `recurring_deposit_account_id` when calling `transaction1`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'recurring_deposit_account_id' in params:
            path_params['recurringDepositAccountId'] = params['recurring_deposit_account_id']  # noqa: E501

        query_params = []
        if 'command' in params:
            query_params.append(('command', params['command']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/recurringdepositaccounts/{recurringDepositAccountId}/transactions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PostRecurringDepositAccountsRecurringDepositAccountIdTransactionsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
