# coding: utf-8

"""
    Apache Fineract REST API

    Apache Fineract is a secure, multi-tenanted microfinance platform. The goal of the Apache Fineract API is to empower developers to build apps on top of the Apache Fineract Platform. The https://cui.fineract.dev[reference app] (username: mifos, password: password) works on the same demo tenant as the interactive links in this documentation. Until we complete the new REST API documentation you still have the legacy documentation available https://fineract.apache.org/legacy-docs/apiLive.htm[here]. Please check https://fineract.apache.org/docs/current[the Fineract documentation] for more information.  # noqa: E501

    OpenAPI spec version: 1.11.0-SNAPSHOT
    Contact: dev@fineract.apache.org
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from fineract_client.api_client import ApiClient


class RepaymentWithPostDatedChecksApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_post_dated_check(self, post_dated_check_id, loan_id, **kwargs):  # noqa: E501
        """Delete Post Dated Check  # noqa: E501

        Delete Post Dated Check  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_post_dated_check(post_dated_check_id, loan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int post_dated_check_id: postDatedCheckId (required)
        :param int loan_id: loanId (required)
        :return: list[DeletePostDatedCheck]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_post_dated_check_with_http_info(post_dated_check_id, loan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_post_dated_check_with_http_info(post_dated_check_id, loan_id, **kwargs)  # noqa: E501
            return data

    def delete_post_dated_check_with_http_info(self, post_dated_check_id, loan_id, **kwargs):  # noqa: E501
        """Delete Post Dated Check  # noqa: E501

        Delete Post Dated Check  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_post_dated_check_with_http_info(post_dated_check_id, loan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int post_dated_check_id: postDatedCheckId (required)
        :param int loan_id: loanId (required)
        :return: list[DeletePostDatedCheck]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['post_dated_check_id', 'loan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_post_dated_check" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'post_dated_check_id' is set
        if ('post_dated_check_id' not in params or
                params['post_dated_check_id'] is None):
            raise ValueError("Missing the required parameter `post_dated_check_id` when calling `delete_post_dated_check`")  # noqa: E501
        # verify the required parameter 'loan_id' is set
        if ('loan_id' not in params or
                params['loan_id'] is None):
            raise ValueError("Missing the required parameter `loan_id` when calling `delete_post_dated_check`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'post_dated_check_id' in params:
            path_params['postDatedCheckId'] = params['post_dated_check_id']  # noqa: E501
        if 'loan_id' in params:
            path_params['loanId'] = params['loan_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/loans/{loanId}/postdatedchecks/{postDatedCheckId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[DeletePostDatedCheck]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_post_dated_check(self, installment_id, loan_id, **kwargs):  # noqa: E501
        """Get Post Dated Check  # noqa: E501

        Get Post Dated Check  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_post_dated_check(installment_id, loan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int installment_id: installmentId (required)
        :param int loan_id: loanId (required)
        :return: list[GetPostDatedChecks]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_post_dated_check_with_http_info(installment_id, loan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_post_dated_check_with_http_info(installment_id, loan_id, **kwargs)  # noqa: E501
            return data

    def get_post_dated_check_with_http_info(self, installment_id, loan_id, **kwargs):  # noqa: E501
        """Get Post Dated Check  # noqa: E501

        Get Post Dated Check  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_post_dated_check_with_http_info(installment_id, loan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int installment_id: installmentId (required)
        :param int loan_id: loanId (required)
        :return: list[GetPostDatedChecks]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['installment_id', 'loan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_post_dated_check" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'installment_id' is set
        if ('installment_id' not in params or
                params['installment_id'] is None):
            raise ValueError("Missing the required parameter `installment_id` when calling `get_post_dated_check`")  # noqa: E501
        # verify the required parameter 'loan_id' is set
        if ('loan_id' not in params or
                params['loan_id'] is None):
            raise ValueError("Missing the required parameter `loan_id` when calling `get_post_dated_check`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'installment_id' in params:
            path_params['installmentId'] = params['installment_id']  # noqa: E501
        if 'loan_id' in params:
            path_params['loanId'] = params['loan_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/loans/{loanId}/postdatedchecks/{installmentId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[GetPostDatedChecks]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_post_dated_checks(self, loan_id, **kwargs):  # noqa: E501
        """Get All Post Dated Checks  # noqa: E501

        Get All Post dated Checks  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_post_dated_checks(loan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int loan_id: loanId (required)
        :return: list[GetPostDatedChecks]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_post_dated_checks_with_http_info(loan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_post_dated_checks_with_http_info(loan_id, **kwargs)  # noqa: E501
            return data

    def get_post_dated_checks_with_http_info(self, loan_id, **kwargs):  # noqa: E501
        """Get All Post Dated Checks  # noqa: E501

        Get All Post dated Checks  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_post_dated_checks_with_http_info(loan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int loan_id: loanId (required)
        :return: list[GetPostDatedChecks]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['loan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_post_dated_checks" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'loan_id' is set
        if ('loan_id' not in params or
                params['loan_id'] is None):
            raise ValueError("Missing the required parameter `loan_id` when calling `get_post_dated_checks`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'loan_id' in params:
            path_params['loanId'] = params['loan_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/loans/{loanId}/postdatedchecks', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[GetPostDatedChecks]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_post_dated_checks(self, body, post_dated_check_id, loan_id, **kwargs):  # noqa: E501
        """Update Post Dated Check, Bounced Check  # noqa: E501

        Update Post Dated Check, Bounced Check  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_post_dated_checks(body, post_dated_check_id, loan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UpdatePostDatedCheckRequest body: (required)
        :param int post_dated_check_id: postDatedCheckId (required)
        :param int loan_id: loanId (required)
        :param str edit_type: editType
        :return: list[UpdatePostDatedCheckResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_post_dated_checks_with_http_info(body, post_dated_check_id, loan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_post_dated_checks_with_http_info(body, post_dated_check_id, loan_id, **kwargs)  # noqa: E501
            return data

    def update_post_dated_checks_with_http_info(self, body, post_dated_check_id, loan_id, **kwargs):  # noqa: E501
        """Update Post Dated Check, Bounced Check  # noqa: E501

        Update Post Dated Check, Bounced Check  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_post_dated_checks_with_http_info(body, post_dated_check_id, loan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UpdatePostDatedCheckRequest body: (required)
        :param int post_dated_check_id: postDatedCheckId (required)
        :param int loan_id: loanId (required)
        :param str edit_type: editType
        :return: list[UpdatePostDatedCheckResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'post_dated_check_id', 'loan_id', 'edit_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_post_dated_checks" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_post_dated_checks`")  # noqa: E501
        # verify the required parameter 'post_dated_check_id' is set
        if ('post_dated_check_id' not in params or
                params['post_dated_check_id'] is None):
            raise ValueError("Missing the required parameter `post_dated_check_id` when calling `update_post_dated_checks`")  # noqa: E501
        # verify the required parameter 'loan_id' is set
        if ('loan_id' not in params or
                params['loan_id'] is None):
            raise ValueError("Missing the required parameter `loan_id` when calling `update_post_dated_checks`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'post_dated_check_id' in params:
            path_params['postDatedCheckId'] = params['post_dated_check_id']  # noqa: E501
        if 'loan_id' in params:
            path_params['loanId'] = params['loan_id']  # noqa: E501

        query_params = []
        if 'edit_type' in params:
            query_params.append(('editType', params['edit_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/loans/{loanId}/postdatedchecks/{postDatedCheckId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[UpdatePostDatedCheckResponse]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
