# coding: utf-8

"""
    Apache Fineract REST API

    Apache Fineract is a secure, multi-tenanted microfinance platform. The goal of the Apache Fineract API is to empower developers to build apps on top of the Apache Fineract Platform. The https://cui.fineract.dev[reference app] (username: mifos, password: password) works on the same demo tenant as the interactive links in this documentation. Until we complete the new REST API documentation you still have the legacy documentation available https://fineract.apache.org/legacy-docs/apiLive.htm[here]. Please check https://fineract.apache.org/docs/current[the Fineract documentation] for more information.  # noqa: E501

    OpenAPI spec version: 1.11.0-SNAPSHOT
    Contact: dev@fineract.apache.org
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from fineract_client.api_client import ApiClient


class SelfDividendApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_dividend_detail(self, product_id, **kwargs):  # noqa: E501
        """create_dividend_detail  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_dividend_detail(product_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int product_id: (required)
        :param str body:
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_dividend_detail_with_http_info(product_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_dividend_detail_with_http_info(product_id, **kwargs)  # noqa: E501
            return data

    def create_dividend_detail_with_http_info(self, product_id, **kwargs):  # noqa: E501
        """create_dividend_detail  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_dividend_detail_with_http_info(product_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int product_id: (required)
        :param str body:
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['product_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_dividend_detail" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'product_id' is set
        if ('product_id' not in params or
                params['product_id'] is None):
            raise ValueError("Missing the required parameter `product_id` when calling `create_dividend_detail`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'product_id' in params:
            path_params['productId'] = params['product_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/shareproduct/{productId}/dividend', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_dividend_detail(self, product_id, dividend_id, **kwargs):  # noqa: E501
        """delete_dividend_detail  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_dividend_detail(product_id, dividend_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int product_id: (required)
        :param int dividend_id: (required)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_dividend_detail_with_http_info(product_id, dividend_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_dividend_detail_with_http_info(product_id, dividend_id, **kwargs)  # noqa: E501
            return data

    def delete_dividend_detail_with_http_info(self, product_id, dividend_id, **kwargs):  # noqa: E501
        """delete_dividend_detail  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_dividend_detail_with_http_info(product_id, dividend_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int product_id: (required)
        :param int dividend_id: (required)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['product_id', 'dividend_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_dividend_detail" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'product_id' is set
        if ('product_id' not in params or
                params['product_id'] is None):
            raise ValueError("Missing the required parameter `product_id` when calling `delete_dividend_detail`")  # noqa: E501
        # verify the required parameter 'dividend_id' is set
        if ('dividend_id' not in params or
                params['dividend_id'] is None):
            raise ValueError("Missing the required parameter `dividend_id` when calling `delete_dividend_detail`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'product_id' in params:
            path_params['productId'] = params['product_id']  # noqa: E501
        if 'dividend_id' in params:
            path_params['dividendId'] = params['dividend_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/shareproduct/{productId}/dividend/{dividendId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def retrieve_all39(self, product_id, **kwargs):  # noqa: E501
        """retrieve_all39  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_all39(product_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int product_id: (required)
        :param int offset:
        :param int limit:
        :param str order_by:
        :param str sort_order:
        :param int status:
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_all39_with_http_info(product_id, **kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_all39_with_http_info(product_id, **kwargs)  # noqa: E501
            return data

    def retrieve_all39_with_http_info(self, product_id, **kwargs):  # noqa: E501
        """retrieve_all39  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_all39_with_http_info(product_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int product_id: (required)
        :param int offset:
        :param int limit:
        :param str order_by:
        :param str sort_order:
        :param int status:
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['product_id', 'offset', 'limit', 'order_by', 'sort_order', 'status']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_all39" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'product_id' is set
        if ('product_id' not in params or
                params['product_id'] is None):
            raise ValueError("Missing the required parameter `product_id` when calling `retrieve_all39`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'product_id' in params:
            path_params['productId'] = params['product_id']  # noqa: E501

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('orderBy', params['order_by']))  # noqa: E501
        if 'sort_order' in params:
            query_params.append(('sortOrder', params['sort_order']))  # noqa: E501
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/shareproduct/{productId}/dividend', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def retrieve_dividend_details(self, dividend_id, product_id, **kwargs):  # noqa: E501
        """retrieve_dividend_details  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_dividend_details(dividend_id, product_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int dividend_id: (required)
        :param int product_id: (required)
        :param int offset:
        :param int limit:
        :param str order_by:
        :param str sort_order:
        :param str account_no:
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_dividend_details_with_http_info(dividend_id, product_id, **kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_dividend_details_with_http_info(dividend_id, product_id, **kwargs)  # noqa: E501
            return data

    def retrieve_dividend_details_with_http_info(self, dividend_id, product_id, **kwargs):  # noqa: E501
        """retrieve_dividend_details  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_dividend_details_with_http_info(dividend_id, product_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int dividend_id: (required)
        :param int product_id: (required)
        :param int offset:
        :param int limit:
        :param str order_by:
        :param str sort_order:
        :param str account_no:
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dividend_id', 'product_id', 'offset', 'limit', 'order_by', 'sort_order', 'account_no']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_dividend_details" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'dividend_id' is set
        if ('dividend_id' not in params or
                params['dividend_id'] is None):
            raise ValueError("Missing the required parameter `dividend_id` when calling `retrieve_dividend_details`")  # noqa: E501
        # verify the required parameter 'product_id' is set
        if ('product_id' not in params or
                params['product_id'] is None):
            raise ValueError("Missing the required parameter `product_id` when calling `retrieve_dividend_details`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'dividend_id' in params:
            path_params['dividendId'] = params['dividend_id']  # noqa: E501
        if 'product_id' in params:
            path_params['productId'] = params['product_id']  # noqa: E501

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('orderBy', params['order_by']))  # noqa: E501
        if 'sort_order' in params:
            query_params.append(('sortOrder', params['sort_order']))  # noqa: E501
        if 'account_no' in params:
            query_params.append(('accountNo', params['account_no']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/shareproduct/{productId}/dividend/{dividendId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_dividend_detail(self, product_id, dividend_id, **kwargs):  # noqa: E501
        """update_dividend_detail  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_dividend_detail(product_id, dividend_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int product_id: (required)
        :param int dividend_id: (required)
        :param str body:
        :param str command:
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_dividend_detail_with_http_info(product_id, dividend_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_dividend_detail_with_http_info(product_id, dividend_id, **kwargs)  # noqa: E501
            return data

    def update_dividend_detail_with_http_info(self, product_id, dividend_id, **kwargs):  # noqa: E501
        """update_dividend_detail  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_dividend_detail_with_http_info(product_id, dividend_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int product_id: (required)
        :param int dividend_id: (required)
        :param str body:
        :param str command:
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['product_id', 'dividend_id', 'body', 'command']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_dividend_detail" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'product_id' is set
        if ('product_id' not in params or
                params['product_id'] is None):
            raise ValueError("Missing the required parameter `product_id` when calling `update_dividend_detail`")  # noqa: E501
        # verify the required parameter 'dividend_id' is set
        if ('dividend_id' not in params or
                params['dividend_id'] is None):
            raise ValueError("Missing the required parameter `dividend_id` when calling `update_dividend_detail`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'product_id' in params:
            path_params['productId'] = params['product_id']  # noqa: E501
        if 'dividend_id' in params:
            path_params['dividendId'] = params['dividend_id']  # noqa: E501

        query_params = []
        if 'command' in params:
            query_params.append(('command', params['command']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/shareproduct/{productId}/dividend/{dividendId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
