# coding: utf-8

"""
    Apache Fineract REST API

    Apache Fineract is a secure, multi-tenanted microfinance platform. The goal of the Apache Fineract API is to empower developers to build apps on top of the Apache Fineract Platform. The https://cui.fineract.dev[reference app] (username: mifos, password: password) works on the same demo tenant as the interactive links in this documentation. Until we complete the new REST API documentation you still have the legacy documentation available https://fineract.apache.org/legacy-docs/apiLive.htm[here]. Please check https://fineract.apache.org/docs/current[the Fineract documentation] for more information.  # noqa: E501

    OpenAPI spec version: 1.11.0-SNAPSHOT
    Contact: dev@fineract.apache.org
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from fineract_client.api_client import ApiClient


class SPMAPILookUpTableApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_lookup_table(self, survey_id, **kwargs):  # noqa: E501
        """Create a Lookup Table entry  # noqa: E501

        Add a new entry to a survey.  Mandatory Fields key, score, validFrom, validTo  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_lookup_table(survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int survey_id: Enter surveyId (required)
        :param LookupTableData body:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_lookup_table_with_http_info(survey_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_lookup_table_with_http_info(survey_id, **kwargs)  # noqa: E501
            return data

    def create_lookup_table_with_http_info(self, survey_id, **kwargs):  # noqa: E501
        """Create a Lookup Table entry  # noqa: E501

        Add a new entry to a survey.  Mandatory Fields key, score, validFrom, validTo  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_lookup_table_with_http_info(survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int survey_id: Enter surveyId (required)
        :param LookupTableData body:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['survey_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_lookup_table" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'survey_id' is set
        if ('survey_id' not in params or
                params['survey_id'] is None):
            raise ValueError("Missing the required parameter `survey_id` when calling `create_lookup_table`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_id' in params:
            path_params['surveyId'] = params['survey_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/surveys/{surveyId}/lookuptables', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def fetch_lookup_tables(self, survey_id, **kwargs):  # noqa: E501
        """List all Lookup Table entries  # noqa: E501

        List all Lookup Table entries for a survey.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.fetch_lookup_tables(survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int survey_id: Enter surveyId (required)
        :return: list[LookupTableData]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.fetch_lookup_tables_with_http_info(survey_id, **kwargs)  # noqa: E501
        else:
            (data) = self.fetch_lookup_tables_with_http_info(survey_id, **kwargs)  # noqa: E501
            return data

    def fetch_lookup_tables_with_http_info(self, survey_id, **kwargs):  # noqa: E501
        """List all Lookup Table entries  # noqa: E501

        List all Lookup Table entries for a survey.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.fetch_lookup_tables_with_http_info(survey_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int survey_id: Enter surveyId (required)
        :return: list[LookupTableData]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['survey_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method fetch_lookup_tables" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'survey_id' is set
        if ('survey_id' not in params or
                params['survey_id'] is None):
            raise ValueError("Missing the required parameter `survey_id` when calling `fetch_lookup_tables`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_id' in params:
            path_params['surveyId'] = params['survey_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/surveys/{surveyId}/lookuptables', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[LookupTableData]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def find_lookup_table(self, survey_id, key, **kwargs):  # noqa: E501
        """Retrieve a Lookup Table entry  # noqa: E501

        Retrieve a Lookup Table entry for a survey.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.find_lookup_table(survey_id, key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int survey_id: Enter surveyId (required)
        :param str key: Enter key (required)
        :return: LookupTableData
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.find_lookup_table_with_http_info(survey_id, key, **kwargs)  # noqa: E501
        else:
            (data) = self.find_lookup_table_with_http_info(survey_id, key, **kwargs)  # noqa: E501
            return data

    def find_lookup_table_with_http_info(self, survey_id, key, **kwargs):  # noqa: E501
        """Retrieve a Lookup Table entry  # noqa: E501

        Retrieve a Lookup Table entry for a survey.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.find_lookup_table_with_http_info(survey_id, key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int survey_id: Enter surveyId (required)
        :param str key: Enter key (required)
        :return: LookupTableData
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['survey_id', 'key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method find_lookup_table" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'survey_id' is set
        if ('survey_id' not in params or
                params['survey_id'] is None):
            raise ValueError("Missing the required parameter `survey_id` when calling `find_lookup_table`")  # noqa: E501
        # verify the required parameter 'key' is set
        if ('key' not in params or
                params['key'] is None):
            raise ValueError("Missing the required parameter `key` when calling `find_lookup_table`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'survey_id' in params:
            path_params['surveyId'] = params['survey_id']  # noqa: E501
        if 'key' in params:
            path_params['key'] = params['key']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'tenantid']  # noqa: E501

        return self.api_client.call_api(
            '/v1/surveys/{surveyId}/lookuptables/{key}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LookupTableData',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
